body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f2f2f2;
  color: #26093a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto", sans-serif;
}
